@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #00adb5;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
    display: block;
}



/* Nav bar Section Start */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar h1 {}

.navbar nav {}

.navbar nav ul {
    display: flex;
}

.navbar nav ul li {}

.navbar nav ul li a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.navbar nav ul li a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.472);

}

/* Nav bar Section End */


/* Showcase Section Start */
.showcase-section {
    /* border: 1px solid red; */
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase-section::before,
.showcase-section::after {
    content: "";
    position: absolute;
    height: 100px;
    /* width: 100%; */
    right: 0;
    left: 0;
    bottom: -70px;
    background: #ffffff96;
    transform: skewY(-2deg);
}

.showcase-section::after {
    /* background: green; */
}

.showcase-section .grid {
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-text h1 {
    font-size: 40px;
}

.showcase-text p {
    margin: 20px 0;
}

.showcase-text a {}

.showcase-text a:hover {}

.showcase-form {
    color: #333;
    position: relative;
    top: 60px;
    padding: 40px;
    min-height: 350px;
    width: 400px;
    /* margin-left: auto; */
    justify-self: flex-end;
    z-index: 100;
}

.showcase-form h2 {}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #b4becb;
    font-size: 16px;
}

.form-control {
    margin: 30px 0;

}

.showcase-form input:focus {
    outline-width: 0;
}

/* Showcase Section End */


/* Stats Section Start */
.stats-section {
    padding-top: 120px;
}

.stats-heading {
    max-width: 500px;
    margin: 0 auto;
}

.stats-section h3 {}

.stats-section .grid i {}

.stats-section .grid h3 {
    font-size: 35px;
}

.stats-section .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* Stats Section End */